<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>streams</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Streams</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="displayState | async as state">
    
    <div *ngFor="let stream of state.server.streams" [routerLink]="['/streams', stream.id]">
      <app-snapcast-stream-preview *ngIf="stream.status != 'idle'" [stream]="stream"></app-snapcast-stream-preview>
    </div>
    <ion-list-header>
      <ion-label>Inactive Streams</ion-label>
    </ion-list-header>
    <div *ngFor="let stream of state.server.streams" [routerLink]="['/streams', stream.id]">
      <app-snapcast-stream-preview *ngIf="stream.status == 'idle'" [stream]="stream"></app-snapcast-stream-preview>
    </div>
  </ion-list>
</ion-content>