<ion-card class="card ion-text-center" color="light" (click)="navToGroupDetails()">
  <div class="img-container">
    <ng-container *ngIf="activeSpeaker else defaultImage">
      <img [src]="activeSpeaker.image" class="img" alt="{{ activeSpeaker.manufacturer }} {{ activeSpeaker.model }}">
    </ng-container>
    <ng-template #defaultImage>
      <img [src]="'assets/mock/JSE_small.png'" class="img" alt="Placeholder Image">
    </ng-template>
  </div>


  <ng-container *ngIf="activeStream && activeStream.properties.metadata else noStreamData">

    <img *ngIf="activeStream.properties.metadata.artData as artData; else noBase64"
      [src]="convertCoverDataBase64(artData.data, artData.extension)" class="cover">

    <ng-template #noBase64>
      <!-- try url if no url show placeholder -->
      <img *ngIf="activeStream.properties.metadata.artUrl as artUrl; else noArtUrl" [src]="artUrl" class="cover"
        alt="Album Art">
      <ng-template #noArtUrl>
        <img [src]="'assets/placeholder/cover_art_placeholder.svg'" class="cover" alt="Placeholder Image">
      </ng-template>
    </ng-template>

    <ng-conainer [ngSwitch]="activeStream.status">
      <ng-container *ngSwitchCase="'playing'">
        <ion-icon class="status-icon" name="play-circle"></ion-icon>
      </ng-container>
      <!-- <ng-container *ngSwitchCase="'idle'">
        <ion-icon class="status-icon" name="pause-circle"></ion-icon>
      </ng-container> -->
      <ng-container *ngSwitchDefault>
        <ion-icon class="status-icon" name="stop-circle"></ion-icon>
      </ng-container>

    </ng-conainer>

    <ng-container *ngFor="let client of group.clients">
      <ng-container [ngSwitch]="client.connected">
        <ng-container *ngSwitchCase="true">
          <ion-icon class="connection-icon" name="wifi"></ion-icon>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <ion-icon color="medium" class="connection-icon" name="wifi"></ion-icon>
        </ng-container>
      </ng-container>
    </ng-container>
    <ion-card-header>
      <ion-card-title *ngIf="activeStream">{{activeStream.properties.metadata.title}}</ion-card-title>
      <ion-card-subtitle>{{group.name || group.clients[0].host.name}}</ion-card-subtitle>
      <!-- <ion-card-subtitle>{{group.name? group.name:group.id}}</ion-card-subtitle> -->
    </ion-card-header>
    <ion-card-content *ngIf="activeStream">
      <p>{{activeStream.properties.metadata.artist}} - {{activeStream.properties.metadata.album}}</p>
      <h2></h2>
      <p></p>
    </ion-card-content>
  </ng-container>

  <ng-template #noStreamData>
    <!-- placeholder image or icon for no stream data -->
    <img *ngIf="activeStream.uri.query.name != 'Hof-Bar-Radio'" [src]="'assets/placeholder/cover_art_placeholder.svg'"
      class="cover" alt="Placeholder Image">
    <div *ngIf="activeStream.uri.query.name === 'Hof-Bar-Radio'" class="hof-bar-container">
      <img class="hof-bar-logo"
        src="https://hof-bar.ch/media/pages/home/eff04a2d37-1778599198/morph-_transparent_v2.gif" 
        alt="Placeholder Image">

    </div>
    <ion-icon class="status-icon" name="stop-circle"></ion-icon>

    <ng-container *ngFor="let client of group.clients">
      <ng-container [ngSwitch]="client.connected">
        <ng-container *ngSwitchCase="true">
          <ion-icon class="connection-icon" name="wifi"></ion-icon>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <ion-icon color="medium" class="connection-icon" name="wifi"></ion-icon>
        </ng-container>
      </ng-container>
    </ng-container>
    <ion-card-header>
      <ion-card-subtitle>{{group.name || group.clients[0].host.name}}</ion-card-subtitle>

      <!-- <ion-card-subtitle>{{group.name? group.name:group.id}}</ion-card-subtitle> -->
    </ion-card-header>
    <ion-card-content>

      <p>{{activeStream.uri.query.name}}</p>
      <p class="no-data-label">No stream data available</p>
      <p>
    </ion-card-content>
  </ng-template>
</ion-card>