<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>volume-presets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Volume Presets</ion-title>
    </ion-toolbar>
  </ion-header>
  <ng-container>
    <ion-list-header>
      Existin Presets
    </ion-list-header>
    <!-- swipable item with options  -->
     <ion-card *ngFor="let preset of existingPresets" color="primary" (click)="applyPreset(preset)">
    <ion-item-sliding >
      <ion-item color="primary">
          <ion-card-header>
            <ion-card-title>{{preset.presetName}}</ion-card-title>
            <ion-card-subtitle>
              {{preset.presetDescription}}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deletePreset(preset)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="start">
        <ion-item-option color="success" (click)="editPreset(preset)">
          <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </ion-card>
    
  </ng-container>

  <ion-button expand="block" routerLink="/volume-preset-edit">Create / Capture Preset</ion-button>
</ion-content>