.custom-icon {
  font-size: 80px;
}

.icon-container {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--ion-color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation-container {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  & .active {
    animation: pulse 3s infinite;
  }
}

.outer-ring {
  width: 220px;
  height: 220px;
  border: 4px solid var(--ion-color-dark);
  border-radius: 50%;
  background-color: var(--ion-color-dark);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  & .active {
    animation: pulse-ring 3s infinite;
  }
  z-index: -1;
}

.inner-ring {
  width: 200px;
  height: 200px;
  background-color: var(--ion-color-dark);
  border-radius: 50%;
  & .active {
    animation: pulse-ring 3s infinite;
  }
}

// pulsing animation for the icon
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

// opacity and scale animation for the outer ring
@keyframes pulse-ring {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}


.animation-container {
 padding-top: 32px;
 margin-bottom: 32px;
}

.status-text {
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
}

