<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/devices" text="Back"></ion-back-button>
    </ion-buttons>
    <ion-title>Device Details></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="container" *ngIf="serverState | async as state else noState">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ng-container *ngFor="let group of state.server.groups">
          <ng-container *ngIf="group.id === id ">
            <!-- <ion-title size="large">{{ group.name || group.id }}</ion-title> -->
          </ng-container>
        </ng-container>
      </ion-toolbar>
    </ion-header>
    <ng-container>
      <ng-container *ngFor="let group of state.server.groups">
        <ng-container *ngIf="group.id === id ">
          <app-snapcast-group-preview [group]="group" [streams]="state.server.streams"></app-snapcast-group-preview>
          <ion-item>
            <ion-label>Stream</ion-label>
            <ion-select (ionChange)="changeStream(group.stream_id)" slot="end" interface="action-sheet"
              [(ngModel)]="group.stream_id" placeholder="Select Stream">
              <ion-select-option *ngFor="let stream of state.server.streams" [value]="stream.id">
                {{ stream.id }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Grop Name</ion-label>
            <ion-input (ionInput)="changeGroupName(group.name)" class="ion-text-end" slot="end" [(ngModel)]="group.name"
              placeholder="Enter Group Name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Clients</ion-label>
            <ion-select slot="end" interface="action-sheet" [(ngModel)]="group.clients" multiple="true"
              placeholder="Select Clients">
              <ion-select-option *ngFor="let client of group.clients" [value]="client">
                {{ client.id }} 
              </ion-select-option>
            </ion-select>
          </ion-item>
          <!-- <ion-picker>
            <ion-picker-column [(ngModel)]="group.stream_id">
              <ion-picker-column-option *ngFor="let stream of state.server.streams" [value]="stream.id">
                {{ stream.id }}
              </ion-picker-column-option>
            </ion-picker-column>
          </ion-picker> -->
          <ion-accordion-group>
            <ion-accordion value="group-{{ group.id }}">
              <ion-item slot="header">
                <ion-label>
                  <h2>{{ group.name || group.id }}</h2>
                  <p>Clients: {{ group.clients.length }}</p>
                </ion-label>
              </ion-item>
              <ion-item slot="content" lines="none" color="dark">
                <pre>{{ group| json }}</pre>
              </ion-item>
            </ion-accordion>
          </ion-accordion-group>
        </ng-container>
      </ng-container>
    </ng-container>

  </div>
  <ng-template #noState>
    <ion-text color="danger">No server state available</ion-text>
  </ng-template>
</ion-content>