
  
  .round-button{
    height: 40px;
    aspect-ratio: 1/1;
    --border-radius: 50% !important;
    
  }
  

  

  .play-toolbar{
    border-radius: 16px 16px 0 0;
    border: 0px;
  }


  .stream-range{
    width: 100%;
  }
  

  .volume-modal{
    z-index: 1 !important;
  }
  