<div class="row g-0">
    <div class="col col-12 col-lg-12">



        <div *ngIf="levels" class="meters-section">
            <ion-list-header color="primary">
                <ion-label>
                    Signal Levels
                </ion-label>
            </ion-list-header>

            <ion-card class="meters-container ion-no-margin">

                <!-- Capture Group -->
                <div class="meter-group">
                    <h3>Capture (Snapcast)</h3>
                    <div class="channels">
                        <!-- Left Channel -->
                        <div class="channel">
                            <span class="channel-name">Left</span>
                            <div class="sub-channel">
                                <!-- RMS -->
                                <div class="meter-column">
                                    <span class="type-label">RMS</span>
                                    <div class="meter-track">
                                        <div class="meter-bar" [style.height.px]="(levels.capture_rms[0] + 100) * 2">
                                        </div>
                                    </div>
                                    <span class="db-label">{{ levels.capture_rms[0] | number:'1.0-1' }}</span>
                                </div>
                                <!-- Peak -->
                                <div class="meter-column">
                                    <span class="type-label">Peak</span>
                                    <div class="meter-track">
                                        <div class="meter-bar peak"
                                            [style.height.px]="(levels.capture_peak[0] + 100) * 2">
                                        </div>
                                    </div>
                                    <span class="db-label">{{ levels.capture_peak[0] | number:'1.0-1' }}</span>
                                </div>
                            </div>
                        </div>


                        <!-- Right Channel -->
                        <div class="channel">
                            <span class="channel-name">Right</span>
                            <div class="sub-channel">
                                <!-- RMS -->
                                <div class="meter-column">
                                    <span class="type-label">RMS</span>
                                    <div class="meter-track">
                                        <div class="meter-bar" [style.height.px]="(levels.capture_rms[1] + 100) * 2">
                                        </div>
                                    </div>
                                    <span class="db-label">{{ levels.capture_rms[1] | number:'1.0-1' }}</span>
                                </div>
                                <!-- Peak -->
                                <div class="meter-column">
                                    <span class="type-label">Peak</span>
                                    <div class="meter-track">
                                        <div class="meter-bar peak"
                                            [style.height.px]="(levels.capture_peak[1] + 100) * 2">
                                        </div>
                                    </div>
                                    <span class="db-label">{{ levels.capture_peak[1] | number:'2.1-1' }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Playback Group -->
                <div class="meter-group">
                    <h3>Playback</h3>
                    <div class="channels">
                        <!-- Left Channel -->
                        <div class="channel">
                            <span class="channel-name">Left</span>
                            <div class="sub-channel">
                                <!-- RMS -->
                                <div class="meter-column">
                                    <span class="type-label">RMS</span>
                                    <div class="meter-track">
                                        <div class="meter-bar" [style.height.px]="(levels.playback_rms[0] + 100) * 2">
                                        </div>
                                    </div>
                                    <span class="db-label">{{ levels.playback_rms[0] | number:'1.0-1' }}</span>
                                </div>
                                <!-- Peak -->
                                <div class="meter-column">
                                    <span class="type-label">Peak</span>
                                    <div class="meter-track">
                                        <div class="meter-bar peak"
                                            [style.height.px]="(levels.playback_peak[0] + 100) * 2">
                                        </div>
                                    </div>
                                    <span class="db-label">{{ levels.playback_peak[0] | number:'1.0-1' }}</span>
                                </div>
                            </div>
                        </div>

                        <!-- Right Channel -->
                        <div class="channel">
                            <span class="channel-name">Right</span>
                            <div class="sub-channel">
                                <!-- RMS -->
                                <div class="meter-column">
                                    <span class="type-label">RMS</span>
                                    <div class="meter-track">
                                        <div class="meter-bar" [style.height.px]="(levels.playback_rms[1] + 100) * 2">
                                        </div>
                                    </div>
                                    <span class="db-label">{{ levels.playback_rms[1] | number:'1.0-1' }}</span>
                                </div>
                                <!-- Peak -->
                                <div class="meter-column">
                                    <span class="type-label">Peak</span>
                                    <div class="meter-track">
                                        <div class="meter-bar peak"
                                            [style.height.px]="(levels.playback_peak[1] + 100) * 2">
                                        </div>
                                    </div>
                                    <span class="db-label">{{ levels.playback_peak[1] | number:'1.0-1' }}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </ion-card>
        </div>
    </div>
    <div class="col col-12 col-lg-6">
        <div *ngIf="parsedConfig">
            <ion-list-header color="primary">
                <ion-label>
                    Master
                </ion-label>
            </ion-list-header>
            <ion-card color="primary" class="ion-no-margin">

                <ion-item lines="none" color="primary">
                    <ion-label slot="start">Master Volume:</ion-label>
                    <ion-input type="number" slot="end" [(ngModel)]="currentVolume"
                        (ionChange)="setVolume(currentVolume)"></ion-input>
                    <ion-label slot="end">dB</ion-label>
                </ion-item>
                <ion-item color="primary">
                    <ion-range color="medium" [ticks]="true" [snaps]="true" min="-12" max="12" step="1"
                        [(ngModel)]="currentVolume" (ionChange)="setVolume(currentVolume)">
                    </ion-range>
                </ion-item>
            </ion-card>

            <ion-list-header color="primary">
                <ion-label>
                    Filters
                </ion-label>
            </ion-list-header>

            <ion-card class="ion-no-margin ion-padding" color="primary"
                *ngFor="let filter of parsedConfig.filters | keyvalue">
                <ion-card-header lines="none">
                    <ion-card-subtitle>
                        {{ filter.key }}
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-item color="primary"> Type: {{ filter.value.type }} </ion-item>
                <ion-item color="primary">
                    <ion-label slot="start">Gain:</ion-label>
                    <ion-input type="number" slot="end" [(ngModel)]="filter.value.parameters.gain"
                        (ionChange)="updateFilterParameter(filter.key, 'gain', filter.value.parameters.gain)"></ion-input>
                    <ion-label slot="end">dB</ion-label>
                </ion-item>
                <ion-item color="primary">
                    <ion-range [ticks]="true" [snaps]="true" color="medium" min="-12" max="12" step="1"
                        [(ngModel)]="filter.value.parameters.gain"
                        (ionChange)="updateFilterParameter(filter.key, 'gain', filter.value.parameters.gain)"></ion-range>
                </ion-item>
                <ion-item color="primary"> Frequency: {{ filter.value.parameters.freq }} </ion-item>
                <ion-item color="primary"> Q: {{ filter.value.parameters.q }} </ion-item>
            </ion-card>
        </div>
    </div>
    <div class="col col-12 col-lg-6">
        <div *ngIf="parsedConfig">
            <ion-list-header color="primary">
                <ion-label>
                    Mixers
                </ion-label>
            </ion-list-header>
            <ion-card class="ion-no-margin ion-padding" color="primary"
                *ngFor="let mixer of parsedConfig.mixers | keyvalue">
                <ion-card-header>
                    <ion-card-subtitle>
                        {{ mixer.key }}
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-item color="primary"> Channels: {{ mixer.value.channels.out }} </ion-item>
                <div *ngFor="let mapping of mixer.value.mapping; let i = index">
                    <ion-item color="primary">
                        <ion-label>
                            Destination {{ mapping.dest }}
                            <span *ngIf="i === 0"> (Left)</span>
                            <span *ngIf="i === 1"> (Right)</span>
                        </ion-label>
                    </ion-item>
                    <ng-container *ngFor="let source of mapping.sources">
                        <ion-item color="primary">
                            <ion-label>Source {{ source.channel }} - Gain: {{ source.gain }}</ion-label>
                            <ion-range [ticks]="true" [snaps]="true" color="medium" min="-12" max="12" step="1"
                                [(ngModel)]="source.gain"
                                (ionChange)="updateMixerMapping(source, mixer.key)"></ion-range>
                        </ion-item>
                        <ion-item color="primary">
                            <p>Inverted: {{ source.inverted }}</p>
                            <ion-toggle color="light" [(ngModel)]="source.inverted"
                                (ionChange)="updateMixerMapping(source, mixer.key)"></ion-toggle>
                        </ion-item>
                        <ion-item color="primary">
                            <p>Muted: {{ source.mute }}</p>
                            <ion-toggle [(ngModel)]="source.mute"
                                (ionChange)="updateMixerMapping(source, mixer.key)"></ion-toggle>
                        </ion-item>
                    </ng-container>
                </div>
            </ion-card>
            

        </div>
        <!-- Add processors -->
        <div *ngIf="parsedConfig">
            <ion-list-header color="primary">
                <ion-label>
                    Processors
                </ion-label>
            </ion-list-header>
            <ion-card class="ion-no-margin ion-padding" color="primary"
                *ngFor="let processor of parsedConfig.processors | keyvalue">
                
                <ion-card-header>
                    <ion-card-subtitle>
                        {{ processor.key }}
                    </ion-card-subtitle>
                </ion-card-header>
                test
                <ion-item color="primary" *ngFor="let param of processor.value.parameters | keyvalue">
                    <ion-label slot="start">{{ param.key }}:</ion-label>
                    <ion-input type="number" slot="end" [(ngModel)]="param.value"
                        (ionChange)="updateProcessorParameter(processor.key, param.key, param.value)"></ion-input>
                </ion-item>
                <!-- <ion-item color="primary"> Type: {{ processor.value.type }} </ion-item> -->
                <!-- Add more processor parameters here as needed -->
            </ion-card>
    </div>
</div>


<ion-accordion-group class="ion-margin-top">
    <ion-accordion value="camilla-dsp-control">
        <ion-item slot="header">
            <ion-label>CamillaDSP Connection</ion-label>
        </ion-item>

        <div class="ion-padding" slot="content">
            <ion-card-title class="ion-padding-top">WebSocket Connection</ion-card-title>

            <ion-input placeholder="WebSocket URL" [(ngModel)]="url"></ion-input>
            <p class="mb-2">
                Connection Status: <strong>{{ connectionStatus }}</strong>
            </p>
            <!-- <ion-button (click)="connect()">Connect</ion-button>
        <ion-button (click)="disconnect()">Disconnect</ion-button>
        <ion-button (click)="getState()">Get State</ion-button>
        <ion-button (click)="getConfigJson()">Get Config JSON</ion-button>
        <ion-button (click)="getConfigYaml()">Get Config YAML</ion-button>
        <ion-button (click)="getUpdateInterval()">Get Update Interval</ion-button>
        <ion-button (click)="getCaptureSignalLevels()">Get Capture Signal Levels</ion-button>
        <ion-button (click)="setUpdateInterval(100)">Set update Interval</ion-button>
        <ion-button (click)="getVolume()">Get Volume</ion-button> -->
            <pre class="bg-gray-100 p-4 rounded mt-4 overflow-auto">
                {{ lastMessage | json }}
                </pre>
            <pre class="bg-gray-100 p-4 rounded mt-4 overflow-auto">
                {{ parsedConfig | json }}
                </pre>
        </div>
    </ion-accordion>
</ion-accordion-group>

<ion-accordion-group class="ion-margin-bottom">
    <ion-accordion value="camilla-dsp-config">
        <ion-item slot="header">
            <ion-label>Advanced CamillaDSP Config</ion-label>
        </ion-item>

        <div class="ion-padding" slot="content">
            <ion-card-title>Default Config</ion-card-title>
            <p>Manage the default config file used on this device. Only use this if you know what you are doing.</p>
            <ion-item>
                <ion-label position="stacked">Current Default Config</ion-label>
                <ion-note color="medium">{{ currentCamillaConfigFile || 'No default config selected' }}</ion-note>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Available Config Files</ion-label>
                <ion-select [(ngModel)]="selectedCamillaConfig" placeholder="Select CamillaDSP config"
                    [disabled]="isLoadingCamillaConfigs || isSavingCamillaConfig || availableCamillaConfigs.length === 0">
                    <ion-select-option *ngFor="let config of availableCamillaConfigs" [value]="config">
                        {{ config }}
                    </ion-select-option>
                </ion-select>
            </ion-item>

            <ion-text color="medium" *ngIf="isLoadingCamillaConfigs">
                <p>Loading CamillaDSP configs...</p>
            </ion-text>

            <ion-text color="danger" *ngIf="camillaConfigError">
                <p>{{ camillaConfigError }}</p>
            </ion-text>

            <ion-text color="success" *ngIf="camillaConfigMessage">
                <p>{{ camillaConfigMessage }}</p>
            </ion-text>

            <ion-button expand="block" color="medium" fill="outline" (click)="loadCamillaConfigState()"
                [disabled]="isLoadingCamillaConfigs || isSavingCamillaConfig">
                Refresh Config List
            </ion-button>

            <ion-button expand="block" color="primary" (click)="saveDefaultCamillaConfig()"
                [disabled]="!selectedCamillaConfig || isLoadingCamillaConfigs || isSavingCamillaConfig">
                Set Default Config
            </ion-button>
        </div>
    </ion-accordion>
</ion-accordion-group>