



<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Network Scanner</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="scanForServices()" *ngIf="!isScanning">
        <ion-icon slot="icon-only" name="scan-outline"></ion-icon>
      </ion-button>
     
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list-header>
    Discovered Services
  </ion-list-header>
  <ion-item *ngIf="!isScanning && snapcastmdnsResults && snapcastmdnsResults.services.length === 0 || !snapcastmdnsResults && !beatnikmdnsResults">
    <ion-label class="ion-text-center">
      <p>No services found.</p>
    </ion-label>
  </ion-item>

   <ion-item *ngIf="isScanning">
      <ion-label class="ion-text-center">
        <ion-spinner name="crescent"></ion-spinner>
        <p>Scanning for devices...</p>
      </ion-label>
    </ion-item>


  <div *ngIf="(snapcastmdnsResults) as snapcastResults">
    <ion-list>


      <ion-item *ngIf="snapcastResults.services.length === 0 && isScanning">
        <ion-label>Searching for services...</ion-label>
      </ion-item>

      <ion-list-header *ngIf="snapcastResults.services.length > 0">
        Servers ({{ snapcastResults.services.length }})
      </ion-list-header>
      <ng-container *ngFor="let service of snapcastResults.services">
        <ion-item  lines="full">
          <ion-label>
            <h2 *ngIf="service.hostname as hostname">{{ hostname }}</h2>
            <p *ngFor="let host of service.hosts">{{ host }}</p>
            <p>{{ service.name }}</p>
            <p>{{ service.type }}</p>
            <p>{{ service.domain }}:{{ service.port }}</p>
          </ion-label>
          <ng-container>
            <ion-button fill="outline" slot="end" (click)="setAsServer(service)">Set as Server</ion-button>
          </ng-container>
        </ion-item>
      </ng-container>
    </ion-list>
    <ion-list *ngIf="(beatnikmdnsResults) as beatnikResults">
      <ion-list-header *ngIf="beatnikResults.services.length > 0">
        Clients ({{ beatnikResults.services.length }})
      </ion-list-header>
      <ng-container *ngFor="let service of beatnikResults.services">
        <ion-item lines="full">
          <ion-label>
            <h2 *ngIf="service.hostname as hostname">{{ hostname }}</h2>
            <p *ngFor="let host of service.hosts">{{ host }}</p>
            <p>{{ service.name }}</p>
            <p>{{ service.type }}</p>
            <p>{{ service.hosts[0] }}:{{ service.port }}</p>
            <p>Beatnik Device - MAC: {{ service.txt['mac'] }}</p>
            <p>Beatnik Pi: {{ service.txt['model'] }}</p>
            <p>Beatnik Version: {{ service.txt['version'] }}</p>
            <p>RAM: {{ service.txt['ram'] }}</p>

          </ion-label>
          <ion-button fill="outline" slot="end" [routerLink]="['/clients', service.txt['mac']]">View
            Device</ion-button>
        </ion-item>
      </ng-container>
    </ion-list>
   


  </div>
  <ion-button expand="full" (click)="scanForServices()">Scan for Services</ion-button>
  <ion-item>
    <ion-label class="ion-text-center">
      <p>Note: ZeroConf Scan does not work in Web Browser. iOS and Android only.</p>
    </ion-label>
  </ion-item>

</ion-content>