<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Client Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Client Details</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <ion-toolbar class="ion-no-padding ion-no-margin" color="light"> -->
    <app-client-info  [client]="client"></app-client-info>
</ion-content>