<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/volume-presets"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isEditMode ? 'Edit Preset' : 'Create Preset' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ isEditMode ? 'Edit Preset' : 'Create Preset' }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ng-container *ngIf="caputredPreset">
    <ion-list-header>
      <ion-label *ngIf="caputredPreset.presetName">{{caputredPreset.presetName}}</ion-label>
      <ion-label *ngIf="!caputredPreset.presetName">Unsaved Preset</ion-label>
    </ion-list-header>
    
    <ion-list inset="true">
      <ion-item *ngFor="let preset of caputredPreset.data">
        <div style="width: 100%; padding-top: 12px; padding-bottom: 4px;">
          <ion-label>
            <h2 style="font-weight: 500;">{{ preset.groupName }}</h2>
            <p>{{preset.clientId}}</p>
          </ion-label>
          <div style="display: flex; align-items: center; margin-top: 4px;">
            <ion-icon name="volume-low-outline" color="medium"></ion-icon>
            <ion-range [min]="0" [max]="100" [(ngModel)]="preset.volumePercent" [pin]="true" style="flex: 1; padding: 0 12px;">
            </ion-range>
            <ion-label color="medium" style="margin: 0; width: 45px; text-align: right;">{{preset.volumePercent}}%</ion-label>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ng-container>

  <ion-button expand="block" (click)="savePresetInUserPreferences()" [disabled]="!caputredPreset || caputredPreset.data.length === 0">
    Save Preset
  </ion-button>
  <ion-button expand="block" (click)="capturePreset()">
    {{ isEditMode ? 'Re-Capture Current Setup' : 'Capture Preset' }}
  </ion-button>
</ion-content>
