

.fab-row{
    min-height: 80px;
}

.custom-fab-button{
    margin: 16px;
}

.header-note {
    color: var(--ion-color-medium);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    top: -10px;
    z-index: 1000;
    margin: 0;
    margin-left: 18px;
    margin-bottom: 16px;
  }

